<!doctype html>
<html>
  <head>
    <title>My Chat</title>
    <link rel="stylesheet" type="text/css" href="/styles/socket.css">
  </head>
  <body>
    <div data-mynsp="{{this.mynsp}}" id="passingVar"></div>
    <div class="container page-body">
      <div id="header-bar"><button class="btn btn-secondary"><a href="/profile" id="back-to-profile">Profile</a></button></div>

      <div id="messages"></div>

      <form action="" class="form-group row" id="message-line">
        <input id="m" autocomplete="off" class="form-control col-sm-10" /><button class="col-sm-2 btn btn-secondary">Send</button>
      </form>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
    $(function () {
        let mynsp = document.getElementById("passingVar").dataset.mynsp;  
        let socket = io(mynsp);
        
        $('form').submit(function(){
          let msg = $('#m').val();
          let userMsg = $("<div class='clearfix'><p class='user-msg float-right'>" + msg + "</p></div>");
          $("#messages").append(userMsg);

          socket.emit('chat message', msg);
          $('#m').val('');
          return false;
        });

        socket.on('chat message', function(msg){
          $("#messages").append($("<div class='clearfix'><p class='partner-msg float-left'>" + msg + "</p></div>"));
        });        
    });
    </script>
  </body>
</html>