<!doctype html>
<html>
  <head>
    <title>My Chat</title>
    <link rel="stylesheet" type="text/css" href="/styles/socket.css">
    <link rel="stylesheet" href="animate.min.css">
  </head>
  <body>
    <div data-mynsp="{{this.mynsp}}" id="passingVar"></div>
    <center><h5 id="pageTitle" class="tabrow">(mis)Fit Chatroom</h5></center>
    <center><hr width="10%"></center>
    <div><button><a href="/profile">Profile</a></button></div>
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" placeholder="Type your chat here." /><button id="chat-btn">Send</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
    $(function () {
        let mynsp = $("#passingVar").data("mynsp");
        var socket = io(mynsp);
        $('form').submit(function(){
          console.log("form submitted");
          socket.emit('chat message', $('#m').val());
          $('#m').val('');
          return false;
        });

        socket.on('chat message', function(msg){
            $('#messages').append($('<li>').text(msg));
        });
    });
    </script>
  </body>
</html>