.survey {
    text-align: center;
    color: #777777
  }

  h1 {
    text-align: center;
    color: #777777
  }
.btn{
  border: 4px solid #0099CC;
  border-radius: 30px;
  background: transparent;
}
.btn:hover {
  background-color: #008CBA;
  color: white;
}
