* { margin: 0; padding: 0; box-sizing: border-box; }
body { 
    font: Helvetica, Arial; 
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    opacity: 1;
}

footer {
    position: fixed; 
    bottom: 0px;
    width: 100%;
    background-color: white;
    opacity: 1;
}

.page-body {
    margin-top: calc(10px + 4em);
    margin-bottom: calc(10px + 4em);
    overflow: auto;
}

.user-msg {
    background-color: lavender;
    border-radius: 5px;
    padding: .5em;
    max-width: 65%;
}

.partner-msg {
    background-color: #EEEEEE;
    border-radius: 5px;
    padding: .5em;
    max-width: 65%;
}

#back-to-profile {
    color: white;
    text-decoration: none;
    padding: .5em;
}

#header-bar {
    margin-top: 1em;
    margin-bottom: 1em;
}

#message-line {
    width: 90%;
    margin-top: 1em;
    margin-bottom: 1em;
}
