* { margin: 0; padding: 0; box-sizing: border-box; }
body { 
    font: Helvetica, Arial; 
}

.page-body {
    margin-top: calc(10px + 4em);
}

.user-msg {
    background-color: lavender;
    border-radius: 5px;
    padding: .5em;
}

.partner-msg {
    background-color: #EEEEEE;
    border-radius: 5px;
    padding: .5em;
}

#back-to-profile {
    color: white;
    text-decoration: none;
    padding: .5em;
}

#header-bar {
    position: fixed;
    top: 10px;
    width: 100%;
}

#message-line {
    position: fixed; 
    bottom: 10px;
    width: 90%;
}