h1 {
  text-align: center;
  color: #777777
}

.list-group-item {
  line-height: 2.5;
}

.survey {
  text-align: center;
  color: #777777
}

.codeConduct-btn {
  background-color: purple;
  color: white;
}
