h1 {
  text-align: center;
  color: #777777
}

.list-group-item {
  line-height: 2.5;
}

.survey {
  text-align: center;
  color: #777777
}

/* .btn{
  border: 4px solid #0099CC;
  border-radius: 30px;
  background: transparent;
  padding: 50px;
}

.btn:hover {
  background-color: #008CBA;
  color: white;
} */